Ziggo-Next/Ziggoflow.json
[{"id":"9ba94622.b7b7d8","type":"tab","label":"Ziggo","disabled":false,"info":""},{"id":"84f6fabe.cbf1e8","type":"http request","z":"9ba94622.b7b7d8","name":"Postit","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":220,"wires":[["6e1dbb43.7ef764"]]},{"id":"71b8cfcd.37f05","type":"mqtt in","z":"9ba94622.b7b7d8","name":"MetaZiggo","topic":"meta/ZiggoNext/#","qos":"2","datatype":"auto","broker":"8a7e179b.669f38","x":100,"y":220,"wires":[["136f9604.7b92aa"]]},{"id":"136f9604.7b92aa","type":"function","z":"9ba94622.b7b7d8","name":"Split","func":"// meta/Harman Kardon/default/button/CURSOR ENTER\n// 123456789A123456789B123456789C123456789D123456789E     \n\nvar output = msg.topic.split(\"/\");\nvar name_meta = output[0];\nvar device = output[1];\nvar deviceid = output[2];\nvar command_type = output[3]; \nvar button = output[4];\nreturn {\n//      button: msg.topic.slice(32 , 99)\n        name_meta: output[0],\n        devicename: output[1],\n        deviceid: output[2],\n        command_type: output[3], \n        button: output[4]\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":320,"wires":[["3a6a9168.dff0ae"]]},{"id":"3a6a9168.dff0ae","type":"switch","z":"9ba94622.b7b7d8","name":"ZiggoNext","property":"button","propertyType":"msg","rules":[{"t":"eq","v":"POWER TOGGLE","vt":"str"},{"t":"eq","v":"DIGIT 1","vt":"str"},{"t":"eq","v":"DIGIT 2","vt":"str"},{"t":"eq","v":"DIGIT 3","vt":"str"},{"t":"eq","v":"DIGIT 4","vt":"str"},{"t":"eq","v":"DIGIT 5","vt":"str"},{"t":"eq","v":"DIGIT 6","vt":"str"},{"t":"eq","v":"DIGIT 7","vt":"str"},{"t":"eq","v":"DIGIT 8","vt":"str"},{"t":"eq","v":"DIGIT 9","vt":"str"},{"t":"eq","v":"DIGIT 0","vt":"str"},{"t":"eq","v":"VOLUME UP","vt":"str"},{"t":"eq","v":"VOLUME DOWN","vt":"str"},{"t":"eq","v":"MUTE TOGGLE","vt":"str"},{"t":"eq","v":"MY RECORDINGS","vt":"str"},{"t":"eq","v":"REVERSE","vt":"str"},{"t":"eq","v":"FORWARD","vt":"str"},{"t":"eq","v":"PLAY","vt":"str"},{"t":"eq","v":"STOP","vt":"str"},{"t":"eq","v":"RECORD","vt":"str"},{"t":"eq","v":"MENU","vt":"str"},{"t":"eq","v":"BACK","vt":"str"},{"t":"eq","v":"CURSOR UP","vt":"str"},{"t":"eq","v":"CURSOR DOWN","vt":"str"},{"t":"eq","v":"CURSOR LEFT","vt":"str"},{"t":"eq","v":"CURSOR RIGHT","vt":"str"},{"t":"eq","v":"CURSOR ENTER","vt":"str"},{"t":"eq","v":"CHANNEL UP","vt":"str"},{"t":"eq","v":"CHANNEL DOWN","vt":"str"},{"t":"eq","v":"GUIDE","vt":"str"},{"t":"eq","v":"TV","vt":"str"},{"t":"eq","v":"INFO","vt":"str"},{"t":"eq","v":"PAUSE","vt":"str"},{"t":"eq","v":"FUNCTION BLUE","vt":"str"}],"checkall":"true","repair":false,"outputs":34,"x":290,"y":460,"wires":[["61d2018d.ff8b"],["6cae2ba8.4c8c54"],["2834644f.f0fd4c"],["93b294d8.ca0fa8"],["dbd64cbc.5dd0f"],["a1809b49.453048"],["d91965d2.454818"],["dceaa423.dcac68"],["ecfce90c.0458c8"],["21cae003.8de16"],["7c708ccd.97b9b4"],[],[],[],["a30758fb.abe138"],["85357a0b.c45ef8"],["f52cd20.a89043"],["83217034.fc88d"],["407bb601.035058"],["f8a636d6.634cf8"],["2f1de16c.413eee"],["e491961d.58b6e8"],["e0499e34.34de8"],["d9c2c.39c1d3d5"],["f5d8ef56.26be7"],["c6c73f4.66884c"],["8b5b96be.401688"],["5597782c.7e2fa8"],["5138a9ae.9df438"],["3ac071d2.697c7e"],["2a9ebee1.6e0b62"],["2279c9af.fb8c66"],["83217034.fc88d"],["6a2a9ca8.129904"]]},{"id":"61d2018d.ff8b","type":"function","z":"9ba94622.b7b7d8","name":"PowerToggle","func":"msg.payload={action: \"sendKey\", key: \"Power\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":120,"wires":[["84f6fabe.cbf1e8"]]},{"id":"6e1dbb43.7ef764","type":"debug","z":"9ba94622.b7b7d8","name":"ZiggoPost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":160,"wires":[]},{"id":"6cae2ba8.4c8c54","type":"function","z":"9ba94622.b7b7d8","name":"1","func":"msg.payload={action: \"sendKey\", key: \"1\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":160,"wires":[["84f6fabe.cbf1e8"]]},{"id":"2834644f.f0fd4c","type":"function","z":"9ba94622.b7b7d8","name":"2","func":"msg.payload={action: \"sendKey\", key: \"2\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":180,"wires":[["84f6fabe.cbf1e8"]]},{"id":"21cae003.8de16","type":"function","z":"9ba94622.b7b7d8","name":"9","func":"msg.payload={action: \"sendKey\", key: \"9\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":320,"wires":[["84f6fabe.cbf1e8"]]},{"id":"ecfce90c.0458c8","type":"function","z":"9ba94622.b7b7d8","name":"8","func":"msg.payload={action: \"sendKey\", key: \"8\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["84f6fabe.cbf1e8"]]},{"id":"dceaa423.dcac68","type":"function","z":"9ba94622.b7b7d8","name":"7","func":"msg.payload={action: \"sendKey\", key: \"7\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":280,"wires":[["84f6fabe.cbf1e8"]]},{"id":"d91965d2.454818","type":"function","z":"9ba94622.b7b7d8","name":"6","func":"msg.payload={action: \"sendKey\", key: \"6\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":260,"wires":[["84f6fabe.cbf1e8"]]},{"id":"a1809b49.453048","type":"function","z":"9ba94622.b7b7d8","name":"5","func":"msg.payload={action: \"sendKey\", key: \"5\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":240,"wires":[["84f6fabe.cbf1e8"]]},{"id":"dbd64cbc.5dd0f","type":"function","z":"9ba94622.b7b7d8","name":"4","func":"msg.payload={action: \"sendKey\", key: \"4\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":220,"wires":[["84f6fabe.cbf1e8"]]},{"id":"93b294d8.ca0fa8","type":"function","z":"9ba94622.b7b7d8","name":"3","func":"msg.payload={action: \"sendKey\", key: \"3\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":200,"wires":[["84f6fabe.cbf1e8"]]},{"id":"7c708ccd.97b9b4","type":"function","z":"9ba94622.b7b7d8","name":"0","func":"msg.payload={action: \"sendKey\", key: \"0\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":340,"wires":[["84f6fabe.cbf1e8"]]},{"id":"2f1de16c.413eee","type":"function","z":"9ba94622.b7b7d8","name":"ContextMenu","func":"msg.payload={action: \"sendKey\", key: \"ContextMenu\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":380,"wires":[["84f6fabe.cbf1e8"]]},{"id":"e491961d.58b6e8","type":"function","z":"9ba94622.b7b7d8","name":"Escape","func":"msg.payload={action: \"sendKey\", key: \"Escape\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":420,"wires":[["84f6fabe.cbf1e8"]]},{"id":"e0499e34.34de8","type":"function","z":"9ba94622.b7b7d8","name":"Up","func":"msg.payload={action: \"sendKey\", key: \"ArrowUp\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":460,"wires":[["84f6fabe.cbf1e8"]]},{"id":"f5d8ef56.26be7","type":"function","z":"9ba94622.b7b7d8","name":"Left","func":"msg.payload={action: \"sendKey\", key: \"ArrowLeft\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":500,"wires":[["84f6fabe.cbf1e8"]]},{"id":"d9c2c.39c1d3d5","type":"function","z":"9ba94622.b7b7d8","name":"Down","func":"msg.payload={action: \"sendKey\", key: \"ArrowDown\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":480,"wires":[["84f6fabe.cbf1e8"]]},{"id":"c6c73f4.66884c","type":"function","z":"9ba94622.b7b7d8","name":"Right","func":"msg.payload={action: \"sendKey\", key: \"ArrowRight\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":520,"wires":[["84f6fabe.cbf1e8"]]},{"id":"8b5b96be.401688","type":"function","z":"9ba94622.b7b7d8","name":"Enter","func":"msg.payload={action: \"sendKey\", key: \"Enter\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":560,"wires":[["84f6fabe.cbf1e8"]]},{"id":"5597782c.7e2fa8","type":"function","z":"9ba94622.b7b7d8","name":"ChUp","func":"msg.payload={action: \"sendKey\", key: \"ChannelUp\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":580,"wires":[["84f6fabe.cbf1e8"]]},{"id":"5138a9ae.9df438","type":"function","z":"9ba94622.b7b7d8","name":"ChDwn","func":"msg.payload={action: \"sendKey\", key: \"ChannelDown\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":620,"wires":[["84f6fabe.cbf1e8"]]},{"id":"3ac071d2.697c7e","type":"function","z":"9ba94622.b7b7d8","name":"Guide","func":"msg.payload={action: \"sendKey\", key: \"Guide\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":600,"wires":[["84f6fabe.cbf1e8"]]},{"id":"2a9ebee1.6e0b62","type":"function","z":"9ba94622.b7b7d8","name":"TV","func":"msg.payload={action: \"sendKey\", key: \"TV\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":640,"wires":[["84f6fabe.cbf1e8"]]},{"id":"a30758fb.abe138","type":"function","z":"9ba94622.b7b7d8","name":"My Recordings","func":"msg.payload={action: \"sendKey\", key: \"MediaTopMenu\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":340,"wires":[["84f6fabe.cbf1e8"]]},{"id":"2279c9af.fb8c66","type":"function","z":"9ba94622.b7b7d8","name":"Info","func":"msg.payload={action: \"sendKey\", key: \"Info\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":680,"wires":[["84f6fabe.cbf1e8"]]},{"id":"85357a0b.c45ef8","type":"function","z":"9ba94622.b7b7d8","name":"Reverse","func":"msg.payload={action: \"sendKey\", key: \"MediaRewind\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":380,"wires":[["84f6fabe.cbf1e8"]]},{"id":"f52cd20.a89043","type":"function","z":"9ba94622.b7b7d8","name":"Forward","func":"msg.payload={action: \"sendKey\", key: \"MediaFastForward\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":420,"wires":[["84f6fabe.cbf1e8"]]},{"id":"83217034.fc88d","type":"function","z":"9ba94622.b7b7d8","name":"PlayPause","func":"msg.payload={action: \"sendKey\", key: \"MediaPlayPause\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":460,"wires":[["84f6fabe.cbf1e8"]]},{"id":"407bb601.035058","type":"function","z":"9ba94622.b7b7d8","name":"Stop","func":"msg.payload={action: \"sendKey\", key: \"MediaStop\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":500,"wires":[["84f6fabe.cbf1e8"]]},{"id":"f8a636d6.634cf8","type":"function","z":"9ba94622.b7b7d8","name":"Record","func":"msg.payload={action: \"sendKey\", key: \"MediaRecord\"}\n\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":540,"wires":[["84f6fabe.cbf1e8"]]},{"id":"abd425ca.5c8738","type":"function","z":"9ba94622.b7b7d8","name":"Status","func":"msg.payload={}\nmsg.method=\"GET\";\nmsg.url=\"http://192.168.0.74:8080/api/status\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":60,"wires":[["84f6fabe.cbf1e8"]]},{"id":"79071075.f079","type":"inject","z":"9ba94622.b7b7d8","name":"GetStat","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":60,"wires":[["abd425ca.5c8738"]]},{"id":"cc80ee93.a606","type":"inject","z":"9ba94622.b7b7d8","name":"Reconnect","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["6a2a9ca8.129904"]]},{"id":"6a2a9ca8.129904","type":"function","z":"9ba94622.b7b7d8","name":"ReconnectMQTT","func":"msg.payload={}\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api/reconnect\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":100,"wires":[["84f6fabe.cbf1e8"]]},{"id":"9f68809e.6b9f6","type":"inject","z":"9ba94622.b7b7d8","name":"Disconnect","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["2de1d3a9.57bdec"]]},{"id":"2de1d3a9.57bdec","type":"function","z":"9ba94622.b7b7d8","name":"DisconnectMQTT","func":"msg.payload={}\nmsg.method=\"POST\";\nmsg.url=\"http://192.168.0.74:8080/api/disconnect\"\n\nmsg.headers = {};\nmsg.headers[\"content-type\"] = \"application/json; charset=utf-8\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":140,"wires":[["84f6fabe.cbf1e8"]]},{"id":"8a7e179b.669f38","type":"mqtt-broker","name":"NEEO MQTT Broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]